<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<body>
<h1>Users table</h1>
<br><br>
<table border="2">
  <tr>
    <th>Name</th>
    <th>Surname</th>
    <th>Email</th>
    <th>Age</th>
    <th>Update action</th>
    <th>Delete action</th>
  </tr>
  <tr th:each="user : ${users}">
    <td th:text="${user.name}"></td>
    <td th:text="${user.surname}"></td>
    <td th:text="${user.email}"></td>
    <td th:text="${user.age}"></td>
    <td>
      <form th:action="@{/edit/{id}(id=${user.getId()})}" method="GET">
        <button type="submit" class="btn btn-danger">Update</button>
      </form>
    </td>
    <td>
      <form th:action="@{/delete/{id}(id=${user.getId()})}" method="POST">
        <button type="submit" class="btn btn-danger">Delete</button>
      </form>
    </td>
  </tr>
</table>

<input type="button"value="Add"
       onclick="window.location.href = 'new'"/>



</body>
</html>